<div class="content-wrapper">
    <section class="content-header">
        <ol class="breadcrumb"></ol>
    </section>
    <section class="content">
        <div class="row">
            <section class="col-lg-12 connectedSortable">
            <div class="nav-tabs-custom">
                <ul class="nav nav-tabs pull-right"></ul>
                <div class="box box-primary">
                    <div class="box-header with-border">
                        <i></i>
             
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <article>
                                    <section>
                                        
                                        <h1 class="h1 text-center">D</h1>
                                        <h1 class="h1 text-center">E</h1>
                                        <h1 class="h1 text-center"> F</h1>
                                        <h1 class="h1 text-center">A</h1>
                                        <h1 class="h1 text-center">U</h1>
                                        <h1 class="h1 text-center">L</h1>
                                        <h1 class="h1 text-center">T</h1>                                      
                                    </section>
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </section>
</div>
    </section>

</div>
