<header title="Agents"></header>
<bread-crumb [items]="breadCrumbs"></bread-crumb>
<ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#yourAgents">Your Agents</a></li>
    <li><a data-toggle="tab" href="#availableAgents">Available Agents</a></li>
</ul>
<br />
<div class="tab-content">
    <div id="yourAgents" class="tab-pane fade in active">
        <my-agents></my-agents>
    </div>
    <div id="availableAgents" class="tab-pane fade">
        <available-agents></available-agents>
    </div>
</div>