<div class="table-responsive">
    <table class=" table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- <tr>
                <td>SQL Server</td>
                <td>Monitors SQL Server performance</td>
                <td>
                    <a href="#">Request an agent</a>
                </td>
            </tr> -->
        </tbody>
    </table>
</div>