<div class="table-responsive">
    <table class=" table table-bordered table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Is Enabled</th>
                <th>Action</th>
                <th>Help</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>IIS Agent</td>
                <td>Monitors IIS Server performance</td>
                <td>Yes</td>
                <td>
                    <a href="#">Disable</a> | <a href="#">Configure</a>
                </td>
                <td><a href="#"><span class="glyphicon glyphicon-question-sign"></span></a></td>
            </tr>
            <!-- <tr>
                <td>OS Agent</td>
                <td>Monitors Windows operating system performance</td>
                <td>No</td>
                <td>
                    <a href="#">Enable</a> | <a href="#">Configure</a>
                </td>
                <td><a href="#">Manual</a></td>
            </tr> -->
        </tbody>
    </table>
</div>