<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="monitor" type="RMS.IISAgent.Configuration.MonitorSection, RMS.IISAgent, Version=1.0.0.0, Culture=neutral" allowLocation="true" allowDefinition="Everywhere" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <appSettings>
    <add key="ServiceName" value="RmsIISAgent" />
    <add key="ServiceDisplayName" value="RMS-IIS Agent" />
    <add key="ServiceDescription" value="Monitors statistics of web applications hosted on IIS server." />
  </appSettings>

  <monitor timerInterval="10000" gatewayUrl="http://localhost:56700" />
</configuration>