<header title="Monitor" smallTitle="Statistics Overview"></header>
<bread-crumb [items]="breadCrumbs"></bread-crumb>
<div class="row">
    <div *ngFor="let tile of partitionTiles">
        <partition-tile [model]="tile"></partition-tile>
    </div>
</div>
<div class="row">
    <faults-chart></faults-chart>
    <alerts-chart></alerts-chart>
</div>
<div class="row">
    <partitions-cpu-chart></partitions-cpu-chart>
</div>
<div class="row">
    <partitions-memory-chart></partitions-memory-chart>
</div>