<div class="col-lg-3 col-md-6">
    <div [class]="model.panelClass">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    <br>
                 <h3>{{ model.header }}</h3>
                 <br>
                </div>
                <div class="col-xs-6 text-right">
                    <br>
                    <div>Agents Count</div>
                    <div class="huge">{{ model.agentsCount }}</div>                  
                </div>
            </div>
        </div>
        <a [routerLink]="['/partition', 1]" >
            <div class="panel-footer">
                <span class="pull-left">{{ model.subHeader }}</span>
                <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                <div class="clearfix"></div>
            </div>
        </a>
    </div>
</div>