<div class="col-lg-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <i class="fa fa-bar-chart-o"> Memory Utilization by Partition</i>
            </h3>
        </div>
        <div class="panel-body">
            <div id="partitionsMemoryUtilizationChart"></div>
            <div id="legend" *ngFor="let label of legendLabels">
                <span [style.color]="label.color">{{ label.name }}</span>
            </div>
        </div>
    </div>
</div>