#lblActiveConnectionPools {
    color: #86B404;
}
#lblIctiveConnectionPools {
    color: #0174DF;
}
#lblPooledConnections {
    color: #DF01D7;
}
#lblNonPooledConnections {
    color: #40FF00;
}
#lblActiveConnections {
    color: #DF013A;
}
#lblFreeConnections {
    color: #F5A9BC;
}
#lblReclaimedConnections {
    color: #FFFF00;
}
#lblSoftConnectsPerSecond {
    color: #FE9A2E;
}
#lblSoftDisconnectsPerSecond {
    color: #0B615E;
}

#lblRequestsPerSecond {
    color: #66CCCC;
}
#lblTotalRequests {
    color: #4169E1;
}

 
#line-chart-adoNet {
    height: 300px;
}

#line-chart-app{
    height: 300px;
}

