

    <header class="main-header">
        <a class="logo">          
            <span class="logo-lg"><b>RMS</b></span>

        </a>
        <nav class="navbar navbar-static-top">
          
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>       
        </nav>
    </header>
    
    <aside class="main-sidebar">
    
        <section class="sidebar">

  
            <ul class="sidebar-menu" data-widget="tree">
              

                <li class="treeview" onclick="changeDisplay(this)">
                    <a href="#">
                        <i class="fa fa-th"></i>
                        <span>Partitions</span>
                      
                            <span class="pull-right-container">
                                <i class="fa fa-angle-down pull-right"></i>
                            </span>
                      
                    </a>
                    <ul class="treeview-menu">
                        <li><a><i class="fa fa-circle-o"></i>Default</a>
                        
                            <ul class="treeview-menu treeview-menu-children" >
                                <li>
                                    <a><i class="fa fa-circle-o"></i>IIS Agent</a>
                                    <ul class="treeview-menu treeview-menu-children">
                                        <li>

                                            <ul class="treeview-menu treeview-menu-children">

                                             
                                                <li *ngFor='let statistic of statistics'><a [routerLink]="['/chart', statistic.appName]" ><i class="fa fa-pie-chart"></i>{{statistic.appName}}</a></li>

                                            </ul>


                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        
                        </li>
                    </ul>
                </li>

                <li><a><i class="fa fa-book"></i> <span>Events</span></a></li>
                <li><a><i class="fa fa-file"></i> <span>Reports</span></a></li>
                <li class="treeview" onclick="changeDisplay(this)">
                    <a href="#">
                        <i class="fa fa-files-o"></i>
                        <span>Configuration</span>
                     
                          
                                <span class="pull-right-container">
                                    <i class="fa fa-angle-down pull-right"></i>
                                </span>
                     
                    </a>
                    <ul class="treeview-menu">
                        <li><a><i class="fa fa-circle-o"></i>Admin</a></li>
                        <li><a><i class="fa fa-circle-o"></i>Triggers</a></li>
                    </ul>
                </li>                            
            </ul>
        </section>
    </aside>

